
/*-----------general---------------------*/

body, html {
  height: 100%;
  color: #18064E;
  margin: 0;
}


/*-----------navbar---------------------*/

.w3-top {
  position: inherit;
}

.w3-bar {
  background-color: #18064E
}

.w3-bar .w3-button {
  color: #00FFE1;
  padding: 16px;
}

.w3-bar .w3-button img {
  width: 100px;
}


/*----------dropdown----------------------*/

.dropdown-toggle { padding: 0; background: #777; }

ul.dropdown { 
  display: none; 
  background-color: white;
  padding: 10px;
  z-index: 201;
  position: absolute;
  top: 53px;
  width: 100%;
}

ul.dropdown li { 
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid #18064E;
  width: 80%; 
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 20px;
}

ul.dropdown li:last-of-type {
  border-bottom: none;
}

ul.dropdown li a { 
  text-decoration: none; 
  padding: 0em 1em; 
  display: block; 
}

/*----------main title area-------------------*/

.main-title {
  background-color: #00FFE1;
  height: 422px;
}

#main-title-circle {
    width: 470px;
    position: absolute;
    left: -21px;
    top: 74px;
}

#main-title-dots {
    width: 406px;
    position: absolute;
    left: -16px;
    top: 67px;
}

/*-----------slider area---------------------------*/

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  width: 100%;
  height: 340px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

#slider ul li img {
  object-fit: cover;
  width: 100%;
}

a.control_next {
  position: absolute;
  top:910px;
  right: 35%;
  z-index: 999;
  width: 36px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  background-color: white;
}

a.control_prev {
  position: absolute;
  top: 910px;
  left: 34%;
  z-index: 999;
  width: 36px;
  background-color: white;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
