
/*-----------general---------------------*/

@font-face {
    font-family: "Prohibition Regular";
    src: url("file:Fonts/Prohibition/Prohibition-Regular.woff2");
}

  @font-face {
    font-family: "Rustico-V2-Regular";
    src: url("file:Fonts/Rustico-V2-Regular.otf");
}

  @font-face {
    font-family: "Source sans";
    src: url("file:Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Source sans' sans-serif;
  background-color: #00FFE1;
}

h1 {
    font-family: "Prohibition Regular", sans-serif;
    color: #18064E;
    text-align: left;
    font-weight: 300;
    font-size: 76px;
    position: absolute;
    top: 181px;
    left: 40%;
    z-index: 200;
    line-height: 74px;
}

h2 {
  text-align: center;
  color: #00FFE1;
  font-family: "Rustico-V2-Regular";
}

/*-----------navbar---------------------*/

.w3-top {
  position: inherit;
}

.w3-bar {
  background-color: #18064E
}

.w3-bar .w3-button {
  color: #00FFE1;
  padding: 16px;
}

.w3-bar .w3-button img {
  width: 100px;
}


/*----------dropdown----------------------*/

.dropdown-toggle { padding: 0; background: #777; }

ul.dropdown { 
  display: none; 
  background-color: white;
  padding: 10px;
  z-index: 201;
  position: absolute;
  top: 53px;
  width: 100%;
}

ul.dropdown li { 
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid #18064E;
  width: 80%; 
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 20px;
}

ul.dropdown li:last-of-type {
  border-bottom: none;
}

ul.dropdown li a { 
  text-decoration: none; 
  padding: 0em 1em; 
  display: block; 
}

/*----------main title area-------------------*/


.main-title {
  background-color: #00FFE1;
  height: 422px;
}

#main-title-circle {
    width: 470px;
    position: absolute;
    left: -21px;
    top: 74px;
}

#main-title-dots {
    width: 406px;
    position: absolute;
    left: -16px;
    top: 67px;
}

/*-----------slider area---------------------------*/

.slider-container {
  background-color:  #18064E;
  padding: 18px 0 90px 0;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  width: 100%;
  height: 340px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

#slider ul li img {
  object-fit: cover;
  width: 100%;
}

a.control_next {
  position: absolute;
  top: 878px;
  right: 35%;
  z-index: 999;
  width: 36px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  background-color: white;
}

a.control_prev {
  position: absolute;
  top: 878px;
  left: 34%;
  z-index: 999;
  width: 36px;
  background-color: white;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

/*-------------icon card area--------------*/

.secondary-content {
  width: 65%;
  margin: 0 auto;
}

.card {
    width: 100%;
    display: inline-block;
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 2px solid #18064E;
}

.card:nth-child(3) {
  border-bottom: none;
  padding-bottom: 0;
}

.card h3 {
    text-align: center;
    font-family: "Rustico-V2-Regular";
}

.card p {   
  margin-bottom: 0;
}

.card-icon {
    width: 80px;
    position: relative;
    left: calc(50% - 40px);
    padding-bottom: 12px;
}

/*------------contact form-------------------------*/

.get-in-touch {
  background-color:  #18064E;
  padding: 10px 0;
}

.inner {
  width: 80%;
    margin: 0 auto;
}

a.contact {
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 47px;
  color: #18064E;
  background-color: #00FFE1;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
}

#contact-form {
  animation: animateleft 0.5s;
  position: relative;
  bottom: 200px;
  display: none;
}
